@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar-track {
  width: 6px;
  background: transparent;
}

html::-webkit-scrollbar {
  width: 6px;
  background: #f5efe1;
}

@font-face {
  font-family: "Monuments";
  src: url("./font/MonumentExtended-Regular.otf");
  src: local("Monuments"), local("Monuments"),
    url("./font/MonumentExtended-Regular.otf") format("opentype");
}
