@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

html {
  scroll-behavior: smooth;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  position: relative;
  overflow: hidden;
}

a:hover:after {
  -webkit-animation-name: lineIn;
  animation-name: lineIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.8s width;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.8s width;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.8s width;
  -webkit-animation-name: lineOut;
  animation-name: lineOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  user-select: none;
}

@keyframes lineOut {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100.5%);
    transform: translateX(100.5%);
  }
}

@keyframes lineIn {
  0% {
    -webkit-transform: translateX(-100.5%);
    transform: translateX(-100.5%);
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

html::-webkit-scrollbar-thumb {
  width: 6px;
  min-height: 100px;
  background: #f5efe1;
}

html::-webkit-scrollbar {
  width: 6px;
  background: url("/img/bggg.gif");
}

@font-face {
  font-family: "Monuments";
  src: url("./font/MonumentExtended-Regular.otf");
  src: local("Monuments"), local("Monuments"),
    url("./font/MonumentExtended-Regular.otf") format("opentype");
}

@media (max-width: 600px) {
  .container {
    padding: 0 40px !important;
  }
  .lets-talk {
    font-size: 2.75rem !important;
  }
  .lets-talk::after {
    height: 5px !important;
  }
}
